<template>
	<v-card class="mb-5">
		<v-card-item>
			<v-card-title>Заявка #{{ request.id }}</v-card-title>
		</v-card-item>

		<v-card-text>
			<v-row>
				<v-col>Имя:</v-col>
				<v-col>{{ request.name }}</v-col>
			</v-row>
			<v-row>
				<v-col>Город:</v-col>
				<v-col>{{ request.city }}</v-col>
			</v-row>
			<v-row>
				<v-col>Email:</v-col>
				<v-col>{{ request.email }}</v-col>
			</v-row>
			<v-row>
				<v-col>Телефон:</v-col>
				<v-col>{{ request.phone }}</v-col>
			</v-row>
			<v-row>
				<v-col>Тема обращения:</v-col>
				<v-col>{{ request.category }}</v-col>
			</v-row>
			<v-row>
				<v-col>Сообщение:</v-col>
				<v-col>{{ request.text }}</v-col>
			</v-row>
			<v-row v-if="request.file">
				<v-col>Файл:</v-col>
				<v-col><a :href="'data:application/octet-stream;base64,' + request.file"
						:download="request.fileName">Скачать</a></v-col>
			</v-row>
		</v-card-text>
	</v-card>
</template>

<script setup>
defineProps({
	request: Object
})
</script>