<template>
	<div>
		<div class="text-h6 mb-3">Список заявок</div>
		<div v-if="pending">Загрузка...</div>
		<div v-if="!requests.length">Нет заявок</div>

		<RequestCard v-for="request in requests" :request="request" />
 	</div>
</template>

<script setup>
	const { data:requests, pending } = await useFetch(`/api/requests`);
</script>