<template>
	<v-app id="inspire">
		<v-app-bar flat>
			<v-container class="mx-auto d-flex align-center justify-center">
				<v-avatar class="me-4 " color="grey-darken-1" size="32"></v-avatar>

				<v-btn v-for="(name, index) in links" :key="index" :text="name" :to="index" variant="text"></v-btn>

				<v-spacer></v-spacer>
			</v-container>
		</v-app-bar>

		<v-main class="bg-grey-lighten-3">
			<v-container>
				<slot />
			</v-container>
		</v-main>
	</v-app>
</template>
  
<script setup>
const links = {
	'/': 'Форма',
	'/requests': 'Список заявок'
}
</script>