<template>
	<div class="form-wrap">
		<h1 class="form-title">Форма обратной связи</h1>
		<p class="form-description">
			Мы всегда готовы ответить на любой вопрос, а также услышать ваши отзывы и предложения по
			работе нашего сервиса
		</p>

		<form @submit.prevent="submit">
			<v-row>
				<v-col cols="12" sm="6">
					<FieldsBaseField v-model="name.value.value" label="Ваше имя" :error-messages="name.errorMessage.value" />
				</v-col>
				<v-col cols="12" sm="6">
					<FieldsBaseField v-model="email.value.value" label="E-mail" :error-messages="email.errorMessage.value" />
				</v-col>
			</v-row>
			<v-row>
				<v-col cols="12" sm="6">
					<FieldsBaseField v-model="phone.value.value" label="Телефон" :error-messages="phone.errorMessage.value" v-maska:[options] />
				</v-col>
				<v-col cols="12" sm="6">
					<FieldsBaseField v-model="city.value.value" label="Город" :error-messages="city.errorMessage.value" />
				</v-col>
			</v-row>
			<v-row>
				<v-col>
					<v-select v-model="category.value.value" :error-messages="category.errorMessage.value"
						class="text-field" label="Тема обращения" :items="categories" density="comfortable"
						variant="solo-filled" validate-on="blur"></v-select>
				</v-col>
			</v-row>
			<v-row>
				<v-col>
					<v-textarea v-model="text.value.value" :error-messages="text.errorMessage.value" class="text-field"
						label="Опишите ваш вопрос" density="comfortable" variant="solo-filled" rows="4"
						validate-on="blur"></v-textarea>
				</v-col>
			</v-row>
			<v-row>
				<v-col>
					<FieldsUploadFileField @onChange="file = $event" />
				</v-col>
			</v-row>
			<v-row>
				<v-col>
					<v-checkbox v-model="checkbox.value.value" :error-messages="checkbox.errorMessage.value"
						color="#1D76F9">
						<template #label>
							Согласен с условиями <a href="#" class="ml-2" target="_blank">политики обработки персональных
								данных</a>
						</template>
					</v-checkbox>
				</v-col>
			</v-row>
			<v-btn class="submit-btn" type="submit" color="#1D76F9" variant="flat"
				:disabled="isLoading || !checkbox.value.value">Отправить</v-btn>
		</form>

		<v-dialog v-model="showDialog" width="400px">
			<ModalInfo @onClose="showDialog = false">
				<template #title>Спасибо за ваш вопрос</template>
				<template #body>
					Мы обязательно откликнемся на ваш вопрос в ближайшее время<br>
					ID заявки: <b>{{ requestId }}</b>
				</template>
			</ModalInfo>
		</v-dialog>
	</div>
</template>

<script setup>
const categories = [
	'Отзывы и предложения',
	'Вопрос по контенту',
	'Неточность в описании товара',
	'Обмен и возврат',
	'Вопрос по контенту',
];
const options = {
	mask: "+7 (###) ### ## ##"
}

const isLoading = ref(false);
const showDialog = ref(false);
const requestId = ref(null);
const file = ref(null);


const { handleSubmit, handleReset } = useForm({
	validationSchema: {
		name(value) {
			if (value?.length <= 40) return true

			return !value ? 'Обязательное поле' : 'Максимальная длина 40 символов'
		},
		email(value) {
			if (/.+@.{2,}\..{2,}/.test(value)) return true

			return !value ? 'Обязательное поле' : 'Введите корректный E-mail'
		},
		phone(value) {
			if (/\+7 \(\d{3}\) \d{3} \d{2} \d{2}/.test(value)) return true

			return !value ? 'Обязательное поле' : 'Введите корректный телефон'
		},
		city(value) {
			if (value?.length <= 40) return true

			return !value ? 'Обязательное поле' : 'Максимальная длина 40 символов'
		},
		category(value) {
			if (value) return true

			return 'Обязательное поле'
		},
		text(value) {
			if (value?.length <= 500) return true

			return !value ? 'Обязательное поле' : 'Максимальная длина 500 символов'
		},
		checkbox(value) {
			if (!!value) return true

			return 'Must be checked.'
		},
	},
})
const name = useField('name')
const email = useField('email')
const phone = useField('phone')
const city = useField('city')
const category = useField('category')
const text = useField('text')
const checkbox = useField('checkbox')


const submit = handleSubmit(values => {
	const formDataToSend = {
		name: name.value.value,
		email: email.value.value,
		phone: phone.value.value,
		city: city.value.value,
		category: category.value.value,
		text: text.value.value
	};

	if(file) {
		console.log(file);
		formDataToSend['file'] = file.value.base64;
		formDataToSend['fileName'] = file.value.name;

		if(!file.value.isValid) {
			return;
		}
	}

	isLoading.value = true;
	fetch('/api/requests', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
		},
		body: JSON.stringify(formDataToSend),
	})
		.then(response => response.json())
		.then(data => {
			requestId.value = data;
			showDialog.value = true;
			handleReset();
		})
		.catch(error => {
			console.error(error);
		}).finally(() => {
			isLoading.value = false;
		});
})
</script>

<style scoped lang="scss">
$acsentColor: #1D76F9;

.form-wrap {
	padding: 30px;
	max-width: 700px;
	margin: 0 auto;
	background-color: #fff;

	[class^=v-col] {
		padding-top: 4px;
		padding-bottom: 0;
	}

	a {
		color: $acsentColor;
	}
}

.form-title {
	font-size: 28px;
	color: #222529;
	margin-bottom: 2px;
}

.form-description {
	color: #5C5C5C;
	font-size: 14px;
	margin-bottom: 32px;
}

.text-field:deep() {
	.v-field {
		box-shadow: none;
		border: 1px solid #A6A6A6;

		&.v-field--active {
			border-color: $acsentColor;
		}

		.v-field__overlay {
			background-color: transparent;
		}
	}

	.v-input__details {
		padding-top: 4px;
		min-height: 18px;
	}
}

.drop-file {
	border: 1px dashed $acsentColor;
	text-align: center;
	border-radius: 5px;
	color: #5C5C5C;
	font-size: 12px;
	padding: 10px;

	&:hover {
		border-color: #000;
	}

	.select {
		color: $acsentColor;
	}

	.allowed {
		color: #A6A6A6;
	}
}

.file-field:deep() {
	margin-top: -50px;

	.v-field {
		border: none;
		background: transparent;
	}

	.v-field__field {
		visibility: hidden;
	}

	.v-field__clearable {
		margin-top: -28px;
	}
}

.submit-btn {
	display: block;
	width: 100%;
	height: 48px !important;
	max-width: 200px;
	text-decoration: none;
	margin: 0 auto;
}</style>